# APP_ENVIRONMENT: development, test, staging, production
APP_ENVIRONMENT=development
# APP_PORT: 1-65535
APP_PORT=8080
# APP_LOG_LEVEL: -1=trace, 0=debug, 1=info, 2=warn, 3=error, 4=fatal, 5=panic
APP_LOG_LEVEL=
# APP_ENABLE_SWAGGER: true or false
APP_ENABLE_SWAGGER=true
# DB_HOST: Database host address
DB_HOST=localhost
# DB_PORT: Database port number (1-65535)
DB_PORT=1433
# DB_USER: Database username
DB_USER=sa
# DB_PASSWORD: Database password
DB_PASSWORD=
# DB_NAME: Database name
DB_NAME=master
# DB_MAX_IDLE_CONNECTION_SIZE: Number of idle connections in the pool
DB_MAX_IDLE_CONNECTION_SIZE=0
# DB_MAX_CONNECTION_SIZE: Maximum number of connections in the pool
DB_MAX_CONNECTION_SIZE=1
# DB_MAX_CONNECTION_IDLE_TIME: Maximum idle time for a connection in seconds
DB_MAX_CONNECTION_IDLE_TIME=300
# DB_MAX_CONNECTION_LIFE_TIME: Maximum life time for a connection in seconds
DB_MAX_CONNECTION_LIFE_TIME=3600
