# Environment variables at root level (shared across all applications)

#- application port to listen on
APP_PORT=8080
#- log level (-1=trace, 0=debug, 1=info, 2=warn, 3=error, 4=fatal, 5=panic)
APP_LOG_LEVEL=-1
#- debug mode (true, false)
APP_DEBUG_MODE=true
#- enable swagger documentation (true, false)
APP_SWAGGER_ENABLED=false
#- swagger UI base path (absolute path)
APP_SWAGGER_BASE_PATH=/swagger

#- SQLite database DSN
DATABASE_DSN=file:./data/app.db
#- Maximum number of open connections to the database (default to 0 if not set, 0 means unlimited)
DATABASE_MAX_OPEN_CONNS=0
#- Maximum number of idle connections to the database (default to 2 if not set, 0 means unlimited)
DATABASE_MAX_IDLE_CONNS=2
#- Maximum amount of time a connection may be reused (Go duration, 5m, 1h, etc., 0 means unlimited)
DATABASE_MAX_LIFETIME=0
#- Maximum amount of time a connection may remain idle (Go duration, 5m, 1h, etc., 0 means unlimited)
DATABASE_MAX_IDLE_TIME=0
